<div th:replace="/fragments/header.html"></div>
<div th:replace="/fragments/menu.html"></div>
<div>
    <div class="col-md-6">






        <form class="m-2" th:action="@{/customers/add}" th:object="${customer}" method="post">
            <label for="name">Name :</label>
            <h1 th:each="error : ${#fields.errors('name')}" th:text="${error}"></h1>
            <input th:field="*{name}" type="text" class="form-control" id="name">
            <label for="birthday">Birthdate:</label>
            <h1 th:each="error : ${#fields.errors('birthDate')}" th:text="${error}"></h1>
            <input  th:field="*{birthDate}" type="date"  class="form-control" id="birthday">
            <button type="submit" class="btn btn-primary mt-2">Add User</button>
        </form>
    </div>
</div>
</body>
</html>